.cardLogin {
  width: 100%;
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  align-items: center;
}

.cardLogin .card-body {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  align-items: center;
  align-self: center;
  width: 80%;
  margin: 1vw;
}

.card-body .iconlogin {
  border-radius: 20px;
  width: 35vw;
  height: 35vw;
  padding: 20px;
  margin: 0px;
}

.card-body .card-column-left-panel {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.card-body .titlelogin {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.form-control:focus {
  border-color: #28a745;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
  cursor: pointer;
}

.questioncheckbox {
  padding: 5px;
  color: black;
}

.questioncheckbox:hover {
  background-color: olivedrab;
  cursor: pointer;
  color: orange;
}

#btnLoginGoogle:hover {
  cursor: pointer;
  color: black;
  background-color: #f2e8cf;
}

#btnLoginFaceBook:hover {
  cursor: pointer;
  color: black;
  background-color: #f2e8cf;
}

.facebook-btn {
  background-color: #3b5998;
  /* Facebook Blue */
  color: white;
  /* White text color */
  border: none;
  /* No border */
  width: 200px;
  /* Set a specific width if needed */
  border-radius: 5px;
  /* Rounded corners */
  display: flex;
  /* Using flexbox for centering icon and text */
  align-items: center;
  /* Center items vertically */
  justify-content: center;
  /* Center items horizontally */
  padding: 10px;
  /* Padding for spacing */
}

.facebook-btn .fa-facebook {
  /* Icon styling */
  margin-right: 10px;
  /* Space between icon and text */
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
}

.divider:before,
.divider:after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.divider:not(:empty):before {
  margin-right: .25em;
}

.divider:not(:empty):after {
  margin-left: .25em;
}

.form-control:focus {
  border-color: #28a745;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
  cursor: pointer;
}